@import "./introduction.scss";
@import "./search.scss";
@import "./today.scss";
@import "./alerts.scss";
@import "./this-week.scss";
@import "./map.scss";


* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(235, 244, 245, 0.84);
}

.content-wrapper {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    margin: 40px 66px 0 0;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 19.4%;
    margin-top: 40px;
}

@media (max-width: 945px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .main-container,
    .aside {
        width: 72.63%;
        margin-right: 0;
    }

}

@media (max-width: 608px) {

    .main-container,
    .aside,
    .weather-map {
        width: 90%;
    }

    .weather-map {
        margin-top: 40px;
    }
}

@media (max-width: 410px) {

    .main-container,
    .aside {
        margin-top: 30px;
    }
}