@import "./introduction.scss";
@import "./search.scss";
@import "./today.scss";
@import "./alerts.scss";

* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(235, 244, 245, 0.84);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    margin: 85px 66px 0 0;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 19.4%;
    margin-top: 85px;
}