.today {
    display: flex;
    flex-direction: column;
    width: 100%;


    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 16px;
    }

    &__weather {
        background: #ffffff;
        box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.02);
        border-radius: 20px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    margin: 30px 0 37.5px 30px;

    &__date {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #a5a5a5;
    }

    &__location {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #343434;

        &--city {
            font-weight: bold;
        }
    }
}

.general-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}

.current {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__hour {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #a5a5a5;
    }

    &__temp {
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        letter-spacing: -0.02em;
        display: flex;

        &--celsius {
            font-size: 36px;
        }
    }

    &__description {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #343434;
    }

    &__real-feel {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #a5a5a5;
    }
}

.clouds {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        background-image: url("../../assets/icons/cloud-icon.svg");
        background-position: center center;
        background-size: cover;
        width: 123px;
        height: 76px;
        margin-bottom: 24.5px;
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #343434;
    }

    &__description {
        font-weight: normal;
        font-size: 12px;
        color: #A5A5A5;
    }
}

.detailed-info {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        background: #FAFAFA;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        width: 33.33333%;
        padding: 0 7%;
    }

    &__temp-icon,
    &__wind-icon,
    &__uv-icon,
    &__rain-icon,
    &__hum-icon,
    &__press-icon {
        min-width: 24px;
        min-height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 18px 18px 18px 0;
    }


    &__temp-icon {
        background-image: url("../../assets/icons/temp-icon.svg");
    }

    &__wind-icon {
        background-image: url("../../assets/icons/wind-icon.svg");
    }

    &__uv-icon {
        background-image: url("../../assets/icons/uv-icon.svg");
    }

    &__visibility-icon {
        background-image: url("../../assets/icons/visibility-icon.svg");
    }

    &__hum-icon {
        background-image: url("../../assets/icons/hum-icon.svg");
    }

    &__press-icon {
        background-image: url("../../assets/icons/press-icon.svg");
    }

    &__value {
        font-weight: bold;
        font-size: 12px;
        color: #343434;
    }

    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        color: #929292;
    }
}

@media (max-width: 1160px) {
    .detailed-info__item {
        width: 50%;
    }
}

@media (max-width: 410px) {
    .general-info {
        flex-direction: column;
    }

    .clouds {
        margin-top: 30px;
    }

    .detailed-info__item {
        width: 100%;
        justify-content: center;
    }
}